<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    .error{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

</style>
<body>
    <Div class="error">
        <H1>ALERTA</H1>
        <p>A ocurrido un error</p>
        <code>Status code: 404</code>
    </Div>
</body>
</html>